@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body {
  font-family: 'Roboto', sans-serif;;
  background: #eee;
  font-size: 1em;
  color: rgba(0,0,0,0.87);
  box-sizing: border-box;
  margin: 0;
}

#bottombar {
  position: absolute;
  z-index: 2;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2.5em;
  background:rgba(0,0,0,0.34)
}

#userstyles {
  border-top: 1px solid #eee;
}

textarea {
  resize: none;
  border: 0;
  width: 100%;
}

h2 {
  margin: 15px !important;
}

#footer-container {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 1em;
  background: #556270;
}

#footer {
  max-width: 33.333vw;
  background: rgba(0,0,0,0.24);
  padding: 1em;
  text-align: center;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features li {
  float: left;
  margin: 0.5em;
  display: block;
  text-align: center;
}

#header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #2196f3;
  height: 10em;
  background: url("http://imgur.com/FwxGrgy.png") 50% 50% / cover no-repeat;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.2)
}

#container {
  padding: 1em;
  border-radius: 0.07em;
  z-index: 0;
  margin-top: 11em;
  max-width: 65vw;
  margin-left: auto;
  margin-right: auto;
  background:#fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.14);
  margin-bottom: 0px;
}

#header h1 {
  text-shadow: 0px 1px 8px rgba(0,0,0,0.14);
  margin-top: 0.7em;
  margin-left: 1em;
  vertical-align: middle;
  text-align: left;
  font-size-adjust: 1.1;
  font-family: 'Roboto', sans-serif;
}

.downloadbutton {
	background:#ff6b6b;
	padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
	font-size: 1.35em;
  text-align: center;
	color: #fff;
  display: block;
  margin: auto;
  position: relative;
  bottom: 0;
  max-width: 9.4em;
  text-decoration: none;
	border-radius: 0.07em;
	box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.12);
	transition: .2s cubic-bezier(.4,0,1,1)
}

.downloadbutton:hover {
	background:#ff836b;
	box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a:not(.downloadbutton) {
  text-decoration: none;
  color: #ff6b6b;
}

a:not(.downloadbutton):hover {
  color: #ff836b;
}


h2 {
  text-align: center;
  margin: 1em;
}

.box {
  margin-bottom: 1em;
}

.middle {
  text-align: center;
  font-size-adjust: 1.11112
}
.Blue500 {
  display: inline-block;
  color: #fff;
  padding: 3px;
  background: #2196f3;
}

.Blue800 {
  display: inline-block;
  color: #fff;
  padding: 3px;
  background: #1565C0;
}

.A700amber {
  display: inline-block;
  color: #fff;
  padding: 3px;
  background: #ffab00;
}

.A400Amber {
  display: inline-block;
  color: #fff;
  padding: 3px;
  background: #ffc400;
}

.A700red {
  display: inline-block;
  color: #fff;
  padding: 3px;
  background: #d50000;
}

.A400red {
  display: inline-block;
  color: #fff;
  padding: 3px;
  background: #ff1744
}

@media (max-width:60em) {
  #container {
    margin: 0;
    max-width: none;
    margin-top: 6em;
    border-radius: 0;
    position: inherit;
    box-shadow: none;
  }
  #header {
    height: 6em;
    position: fixed;
  }
  #header h1 {
    font-size-adjust: 0.6;
    margin-top: 0.6em;
  }
  #bottombar {
    height: 1.5em;
  }
  #footer {
    max-width: none;
  }
  #footer-container {
    margin: 0;
  }
}

@media (max-width:450px) {
  #header h1 {
    margin-top: 0.3em;
    font-size-adjust: 0.5
  }
  #header {
    height: 5em;
  }
}
